/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2019, 9:06:10 AM
    Author     : Huzaifa Khan
*/

.root {
    -fx-background-color: #444444;
}
.button {
    -fx-text-fill: #CCCCCC;
    -fx-background-color: #111111;
    -fx-border-color: #FFFFFF;

}
#p1Surr, #p2Surr {
    -fx-text-fill:cyan;
    -fx-underline:true;
}
#p2Surr {
    -fx-text-fill: #FF4444;
    -fx-underline:true;
}
.baseText {
    -fx-text-fill: #DDDDDD;
}
.scoreBoard {
    -fx-background-color: #333333;
}
#textBox {
    -fx-text-fill: #DDDDDD;
}

#textBox .content{
    -fx-background-color: #333333;
}